.navbar-button {
  position: absolute;
  margin: 0.5em 0;
  left: 1em;
  visibility: hidden;
}
.navbar-background {
  position: fixed;
  background-color: blue;
  border-radius: 1em 0 1em;
  height: 5em;
  width: 100%;
}

/* @media screen and (max-width: 992px) {
  .navbar-button{
    
  }
} */

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
  .navbar-button {
    visibility: visible;
  }
  .navbar-menu-default {
    display: none;
  }
}
